doctype html
-
  var cards = [
    {id: "Defender", role: "Defender", description : "Cover for shooters and engineers, flank control."},
    {id: "Shooter", role: "Shooter", description : "Medium range, area fire shooter."},
    {id: "Sniper", role: "Sniper", description : "Anti shoota, anti sniper."},
    {id: "Killer", role: "Killer", description : "Very mobile unit in hunt for loners."}
  ]
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Coherent Gameface test
  link(rel='stylesheet' href='/dist/css/styles.css')
  link(rel='icon' type='image/png' href='/img/favicon.png')
.page
  .header
    .header__menu-button
    .header__title
      h1.header__h1 Choose the Class
      .separator
        .separator__left
        .separator__mid
        .separator__right
  .content
    .content__wrapper
      .grid
        each card in cards
          .grid__col
            .card
              .card__icon.card__icon_defender
              .card__icon.card__icon_highlight
              .card__header #{card.role}
              .card__description
                | #{card.description}
              .card__image.card__image_defender
              .card__label
    button.bttn.bttn_play.content__bttn(data-toggle='modal') Play
.modal
  .modal__wrapper
    .modal__close
    .separator
      .separator__left
      .separator__mid
      .separator__right
    .modal__shield
      .modal__message
        | I have a tiny question to you. 
        br
        |                 Are you sure about that?
      .modal__button-group
        button.bttn.bttn_simple No
        button.bttn.bttn_simple Yes
script(src='/dist/js/card-select.js')